@import "tailwindcss";

:root {
  --color-bg: #181118;
  --color-text: #D6E1FF;
  --color-accent: #5472E4;
  --color-heading: #9EB1FF;
  --font-serif: "Quattrocento";
  --font-sans: "Space Grotesk";
}

@font-face {
  font-display: swap;
  font-family: 'Quattrocento';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/quattrocento-v23-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/space-grotesk-v21-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/source-sans-3-v18-latin-300.woff2') format('woff2');
}

@layer base {
  html {
    font-family: 'Source Sans 3';
    background-color: var(--color-bg);
    color: var(--color-text);
  }
  body {
    @apply mx-2 my-8;
  }
  h1 {
    @apply text-2xl md:text-6xl lg:text-8xl mb-4 md:mb-8 mr-4 font-sans;
    color: var(--color-heading);
  }
  .title {
    @apply font-serif tracking-tighter;
    color: var(--color-accent);
  }
  h2 {
    @apply text-xl mb-2 font-sans;
    color: var(--color-heading);
  }
  h3 {
    @apply text-lg mb-1;
  }

  li {
    @apply mb-2;
  }
  svg {
    color: var(--color-heading);
  }
  a svg {
    @apply transition-colors duration-300;
    &:hover {
      color: var(--color-text);
    }
  }
  .work-container {
    h1 {
      @apply md:text-center;
    }
    h2,
    h3,
    ul,
    p {
      @apply mb-4;
    }
    h2,
    h3,
    ul,p:not(:has(img)) {
      @apply max-w-4xl mx-auto;
    }
    img {
      @apply rounded-xl w-full my-8 md:my-16;
    }
  }
  h2::after {
    content: "";
    @apply md:hidden block h-0.5 w-full bg-[var(--color-accent)] my-2;
  }

  .work-container {
    --color-heading: #FED2E1;
    --color-accent: #E54666;
  }

  .work-container h2 {
    @apply mt-16;
  }
  .work-container h2::after {
    @apply hidden;
  }
  .work-container h2::after {
    content: "";
    @apply  block h-0.5 w-full bg-[var(--color-accent)] my-2;
  }
}
