---
import Layout from "../layouts/Layout.astro";
import Work from "../components/Work.astro";
---

<Layout>
  <div>
    <h1 class=`mt-4 md:fixed bottom-0 right-8`>Shopify Expert</h1>
    <div
      class="md:hidden aspect-video rounded-xl bg-[var(--color-accent)] my-4 opacity-20"
    >
    </div>
  </div>
  <Work />
</Layout>
