---
import { EnvelopeIcon } from "@heroicons/react/16/solid";
import { GitHubLogoIcon, LinkedInLogoIcon } from "@radix-ui/react-icons";
---

<div>
  <h2 class="md:hidden">Let's Connect</h2>
  <ul
    class="md:fixed top-8 right-0 flex md:justify-end items-center pr-8 *:hover:-translate-y-0.5 *:transition-transform *:duration-300 *:p-1"
  >
    <li>
      <a href="mailto:hello@ephriamnagler.com"
        ><EnvelopeIcon className="w-[16px]" /></a
      >
    </li>
    <li>
      <a href="
            https:
            github.com
            ephnagler"
        ><GitHubLogoIcon /></a
      >
    </li>
    <li>
      <a href="https://www.linkedin.com/in/ephriam-nagler/"
        ><LinkedInLogoIcon />
      </a>
    </li>
  </ul>
</div>
